{% extends 'base.html' %}
{% load staticfiles %}
	{% block content %}

		<header id="header">
                <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ '/' }}"><img src="{% static 'images/logo.jpg' %}" alt="primenerd_logo"></a>
                        </div>

                        <div class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="scroll"><a href="{{ '/' }}">Home</a></li>
                                <li class="scroll"><a href="{% url 'service' %}">Services</a></li>
                                <li class="scroll"><a href="{% url 'reviews' %}">Reviews</a></li>
                                <!--<li class="scroll"><a href="">Projects</a></li>-->
                                <li class="scroll"><a href="{% url 'about' %}">About</a></li>
                                <li class="scroll"><a href="#pricing">Enroll</a></li>
                                <li class="scroll"><a href="{{'/blogs'}}">Tutorials</a></li>
                                <li class="scroll"><a href="{% url 'contact' %}">Contact</a></li>
                                <li class="scroll"><a href="#" target="blank">Community</a></li>
                            </ul>
                        </div>
                    </div><!--/.container-->
                </nav><!--/nav-->
            </header><!--/header-->

            <section id="blog">
                <div class="container">
                    <div class="section-header">
                        <h2 class="section-title text-center wow fadeInDown">Oops !! Looking for Something?, Try Searching </h2>
                        <br/>
                        <p> 
                            <form method="GET" action="">
                                <div class="col-xs-3">
                                    <div class="input-group">
                                        <input type="text"  name="q" class="form-control" placeholder="Search Articles" value="{{ request.GET.q }}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="submit"> <i class="fa fa-search"></i> </button>
                                        </span>
                                    </div><!-- /input-group -->
                                    Get back to <a href="{{ '/' }}" class="btn btn-primary"> Homepage </a>.
                                </div><!-- /.col-lg-6 -->
                            </form> 
                        </p>
                    </div>
                    </div>
                    </div>
                </div>
            </section>

            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            &copy; 2016 Primenerds. Designed by <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"><i class='fa fa-laptop'></i> <span> P.NERDS <em> .:: MATHEMARTINS ::. </em></span> </a>
                        </div> <br> <hr>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> About the Nerds </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Nerds Consolidated </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Suggest a project </a>
                        </div> <br>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Contact </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Community </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Enroll </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Terms and Services </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Privacy Policy </a>
                        </div>
                        <div class="col-sm-2">
                            <a target="_blank" href="http://primenerds.com/" title="primenerds official blog"> Projects </a>
                        </div>

                        <br><hr>
                        <span>
                            <div class="col-sm-6 ">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                </div>
            </footer>

    {% endblock content %}