{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %} videos | {% endblock %}
{% block content %}

  Hello {{ user }} <br/>

</section>
  <div class="container">
    {% for item in queryset %}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="{{ item.get_absolute_url }}"> <img src='{{item.get_image_url}}' class='img-responsive'/> </a>
          <div class="caption">
            <h3><a href="{{ item.get_absolute_url }}"> {{item}} </a></h3>
            <p> blah blah blah blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
            <p><a href="#" class="btn btn-primary" role="button">View Course</a> <a href="#" class="btn btn-default" role="button"> Free Preveiw </a></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>


{% endblock %}
