{% extends "base.html" %}
{% load staticfiles %}
{% block head_title %} videos | {% endblock %}
{% block content %}

<section>
  <div class="container">
    <!-- jumbotron starts here -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2 style="font-family: 'Imprima', sans-serif;">{{ obj.title }}</h2>
          </div>
          <div class="col-sm-6">
            <img src="{{ obj.get_image_url }}" class="img-responsive"/>
          </div>
        </div>
      </div>
    </div>
    <!-- jumbotron ends here -->
  </div>
</section>

<section>
  <div class="container">
    <div class="col-sm-8">
      {% if queryset %}
      <table class="table">
        {% for item in queryset %}

          <tr><td> {{ forloop.counter }} </td><td>
          {% if request.user.is_authenticated or item.has_preview %}
           <a href="{{ item.get_absolute_url }}"> <strong>{{ item }}</strong> </a> <br/>
           <td> <i class="fa fa-unlock fa-2x"></i> </td>
          {% else %}
          <p class="text-danger"> <strong>{{ item }}</strong> </p>
          <td> <i class="fa fa-lock fa-2x"></i> </td>
          {% endif %}
        </td></tr>

        {% endfor %}
      </table>
      {% else %}
      <div class="col-sm-10">
        <h3 class="text-center" style="color:#DC143C; font-family: 'Imprima', sans-serif";> Project is coming soon ! </h3>
        <br/>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
